.{
    padding: 0;
    margin: 0;
  }
  
  body{
    overflow-x: hidden;
    font-family: 'Open Sans',sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiashed !important;
  }
  
  li{
    list-style: none;
    display: inline-block;
  }
  
  a{
    text-decoration: none;
    transition: all 500ms ease-in-out;
  }
  
  a:hover,
  a:active{
    text-decoration: none;
  }
  
  h1,
  h2,
  h4{
    font-family: 'PT Sans Narrow',Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  p{
    font-size: 15px;
    line-height: 21px;
  }
  
  .btn{
    transition: all 300ms ease-in-out;
    font-weight: 500 !important;
    text-transform: uppercase;
  }
  
  .btn:hover{
    background-color: #ededed !important;
    color: #3c3c3c !important;
    border: 1px solid #fff !important;
  }
  
    /*NAVIGATION*/
  
  .navbar{
      height: 80px;
      background-color: #00B1F7 !important;
      text-transform: uppercase;
      font-family: 'PT Sans Narrow',Arial,sans-serif;
      font-weight: 700;
    }
  
  .navbar a{
    margin-top: 15px;
    color: #fff !important;
  }
  
  .navbar a:hover{
    opacity: 1;
    background-color: #0564A3 !important;
    text-decoration: none;
  }

      /* CONTENT */
  .content{
    margin: auto; 
    max-width: 1000px;
    padding-top: 20px;
  }

    /* STEPPER */

    .steps-form-2 {
        margin-top: 100px;
        display: table;
        width: 100%;
        position: relative; 
    }
    
    .steps-form-2 .steps-row-2 {
        display: table-row; 
    }

    .steps-form-2 .steps-row-2:before {
        top: 14px;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 100%;
        height: 2px;
        background-color: #7283a7; 
    }

    .steps-form-2 .steps-row-2 .steps-step-2 {
        display: table-cell;
        text-align: center;
        position: relative; 
    }

    .steps-form-2 .steps-row-2 .steps-step-2 p {
        margin-top: 0.5rem; 
    }

    .steps-form-2 .steps-row-2 .steps-step-2 button[disabled] {
        opacity: 1 !important;
        filter: alpha(opacity=100) !important; 
    }

    .steps-form-2 .steps-row-2 .steps-step-2 .btn-circle-2 {
        width: 70px;
        height: 70px;
        border: 2px solid #59698D;
        background-color: white !important;
        color: #59698D !important;
        border-radius: 50%;
        padding: 22px 18px 15px 18px;
        margin-top: -22px; 
    }

    .steps-form-2 .steps-row-2 .steps-step-2 .btn-circle-2:hover {
        border: 2px solid #4285F4;
        color: #4285F4 !important;
        background-color: white !important; 
    }

    .steps-form-2 .steps-row-2 .steps-step-2 .btn-circle-2 .fa {
        font-size: 1.7rem; 
    }


  
  
      /*FOOTER*/
  
  .footer{
    margin-top: 100px;
    padding: 30px;
    color: #fff;
    background-color: #00B1F7;
  
  }
  
  .footer .social{
    font-size: 20px;
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 5px;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
    margin-right: 5px;
  }
  
  .footer input{
    height: 40px;
    width: 160px;
    padding: 5px;
    border: none;
    background-color: #cccccc;
    color: #000;
  }
  
  .footer .btn{
    padding: 10px 5px 10px;
    margin: -3px 0 0 5px;
  
  }
  